<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icons/iconoSF.png') }}">
  <meta charset="UTF-8">
  <link rel="stylesheet"
          href="{{ url_for('static', filename='css/estilo_registro.css') }}">
  <title>Registro de Jugador</title>
</head>
<body>
  <div class="container">
    <h1>Crear Cuenta</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">
      <input type="text" name="usuario" placeholder="Nombre de usuario" required><br>
      <input type="email" name="correo" placeholder="Correo electrónico" required><br>
      <input type="password" name="contrasena" placeholder="Contraseña" required><br>
      <button type="submit" class="btn">Registrarme</button>
    </form>

    <a href="{{ url_for('login') }}" class="link">¿Ya tienes cuenta? Inicia sesión</a>
  </div>
</body>
</html>
